body {
    background: url(./img/oriental.png) !important;
}

.main-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-middle {
    display: table-cell;
    vertical-align: middle;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 60px;
    width: 60px;
    font-size: 24px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.all-squares {
    border-style: solid !important;
    border-width: 2px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
    margin-left: 42%;
    display: inline-block;
}

.info-text {
    border-style: solid !important;
    border-width: 2px;
    border-bottom-width: 0px;
    text-align: center;
    background-color: white;
}
.menu-controls {
    border-style: solid !important;
    border-width: 2px;
    border-top-width: 0px;
    background-color: white;
}

.option{
    margin-left: 30px;
}
